.filtercantainer {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 65px;
    background-color: #fff;
    z-index: 1  
}
.rating{
    display: flex;
    justify-content: center;
    flex: 1;
   
}

.noHover{
    pointer-events: none;
}
.adult{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
.children{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
